body
{
	background-color: #212121 !important;
	color:  WHITE;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	height:max-content;
}

/**********************Index page***********************/

.title_div{
	font-size: 100px;
	color: red;
	margin-bottom: 25px;
	font-family: 'Courier New', Courier, monospace;
}

.btnTransform{
	margin-top: 25px;
	margin-bottom: 25px;
}
.lewis_div
{
	background-color: white;
	color: black;
	height: 100px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
	  margin-top: 25px;
}
.error
{
 	border:2px solid red;
}